@import '~src/styles/variables';

.st0 {
  fill: #020203;
}
.st1 {
  fill: none;
}
.st2 {
  fill: #1b181c;
}
.st3 {
  font-family: 'swz';
  font-weight: bold;
}
.st4 {
  font-size: 12.4018px;
}
:host {
  display: block;
}
