@font-face {
  font-family: 'baubodn';
  src: url('./assets/fonts/baubodn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swz';
  src: url('./assets/fonts/SWZ721T.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tt9';
  src: url('./assets/fonts/tt0009m.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tt10';
  src: url('./assets/fonts/tt0010m.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriad';
  src: url('./assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
