@import '~src/styles/variables';
.pagination {
  display: flex;
  flex-flow: row wrap;
  margin-top: $s-xxl;
  font-weight: bold;
  li {
    padding: 0 $s-sm;
    line-height: 1.8;
    margin-right: $s-xs;
    margin-bottom: $s-xs;
    text-transform: uppercase;
    cursor: pointer;
  }
  li:not(.pagination-dots) {
    border: 1px solid $dark;
  }
  .pagination-dots {
    font-size: $txt-lg;
  }
  li.active {
    color: $white;
    background-color: $gray;
  }
}
