@import '~src/styles/variables';

.title {
  font-family: baubodn;
  font-weight: normal;
  font-size: 2.5rem;
}
.txt--clip--2 {
  /* line-height: 1.2em;
  max-height: #{1.2 * 2}em; */
  line-height: 1.1em;
  max-height: 2.4em;
}
.txt--clip--3 {
  line-height: 1.8em;
  max-height: #{1.8 * 3}em;
}
.subtitle {
  margin-top: $s-md;
  font-size: 0.7rem;
  font-weight: lighter;
}

.date {
  text-transform: capitalize;

  > * {
    vertical-align: middle;
  }
  .icon-clock {
    margin-right: 0.2rem;
    width: $txt-sm;
    height: $txt-sm;
  }
}
.read-more {
  margin-top: $s-md;
  span {
    display: inline-block;
    color: $white;
    font-weight: bold;
    padding: $s-xxs $s-lg;
    background-color: $gray;
    text-transform: uppercase;
    font-family: tt10;
  }
}

@media (min-width: 1281px) {
  .title {
    font-size: $txt-xl;
  }
  .subtitle{
    font-size: 1rem;
  }
}
