<footer>
  <div class="contain txt--sm padding--horizontal--mobile">
    <div class="grid-wrapper grid-xl">
      <!--
      <ul class="about grid-parent">
        <li class="about-item grid-child logo">
          <a routerLink="/">
            <img src="./assets/white-logo.svg" />
          </a>
          <img src="./assets/scotia-white-header-logo.svg" />
        </li>
        <li class="about-item grid-child">
          <ul>
            <li class="about-head">
              Contáctenos
            </li>
            <li>
              (01) 208 0330
            </li>
            <li style="word-break: break-word;">
              atencionalcliente@prestigia.pe
            </li>
            <li>
              Jirón Lord Nelson Nro. 378, Miraflores
            </li>
          </ul>
        </li>
        <li class="about-item grid-child">
          <ul>
            <li class="about-head">
              INFORMACIÓN
            </li>
            <li>
              <a routerLink="/info/our-story">Nosotros</a>
            </li>
            <li>
              <a routerLink="/info/terms-and-conditions">Términos y condiciones</a>
            </li>
            <li>
              <a routerLink="/info/politcs-and-privacy">Políticas de privacidad</a>
            </li>
          </ul>
        </li>
        <li class="about-item grid-child claim">
          <a routerLink="/info/complaints-book">
            <div>
              <img src="./assets/book.svg" />
              <span>Libro de reclamaciones</span>
            </div>
          </a>
        </li>
      </ul>
      -->
      <ul class="about grid-parent">
        <li class="about-item grid-child logo">
          <a routerLink="/">
            <img class="logo-prestigia" src="./assets/white-logo.png" />
          </a>
        </li>
        <li class="about-item grid-child">
          <ul>
            <li>
              <p class="about-head">CONTÁCTENOS: </p> (01) 208 0330 / atencionalcliente@prestigia.pe / Jirón Lord Nelson Nro. 378, Miraflores
            </li>
            <li style="margin-top: 0.7rem">
              <p class="about-head">INFORMACIÓN: </p> <a routerLink="/info/our-story">Nosotros</a> / <a routerLink="/info/terms-and-conditions">Términos y condiciones</a> / <a routerLink="/info/politcs-and-privacy">Políticas de privacidad</a>
            </li>
          </ul>
        </li>
        <li class="about-item grid-child logo">
          <img class="logo-scotia" src="./assets/scotia-white-header-logo.svg" />
        </li>
      </ul>
    </div>
    <div class="footer-extra">
      <p class="prestigia">
        <span>&copy;Prestigia 2020 una marca registrada de</span>
        <img src="./assets/unimundo-logo.svg" />
      </p>
      <p class="sonr">
        <span>Diseño Web por</span>&nbsp;
        <img src="./assets/sonr-logo.png" />
      </p>
      <p class="handel">
        <span>Powered by</span>&nbsp;
        <img src="./assets/handel-logo.svg" />
      </p>
    </div>
  </div>
</footer>
